<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Привет</title>
</head>
<body>
<h1 id="greeting">Привет, пользователь!</h1>
<button onclick="logout()">Выйти из аккаунта</button>
<button onclick="joinChat()">Зайти в чат</button>

<script>
    function getUsernameFromJWT(token) {
        if (!token) {
            console.error("Токен отсутствует");
            return null;
        }

        const parts = token.split('.');
        if (parts.length !== 3) {
            console.error("Неправильный формат JWT");
            return null;
        }

        try {
            const payload = JSON.parse(atob(parts[1]));
            console.log("Полезная нагрузка JWT:", payload);
            return payload.sub || null;
        } catch (e) {
            console.error("Ошибка при декодировании JWT:", e);
            return null;
        }
    }

    const jwt = document.cookie.split('; ').find(row => row.startsWith('JWT='));
    const token = jwt ? jwt.split('=')[1] : null;
    console.log("JWT из cookie:", token);
    const username = getUsernameFromJWT(token);

    if (username) {
        document.getElementById('greeting').innerText = `Привет, ${username}!`;
    } else {
        document.getElementById('greeting').innerText = 'Имя пользователя не найдено.';
    }

    function logout() {
        window.location.href = '/logout';
    }

    function joinChat() {
        if (!token) {
            console.error('Токен отсутствует');
            return;
        }

        fetch('http://localhost:8081/access_chat', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${token}`
            }

        })
            .then(response => {
                if (response.ok) {

                    window.location.href = "/chat"
                } else {
                    console.error('Ошибка при доступе к чату:', response.status);
                }
            })
            .catch(error => {
                console.error('Ошибка при выполнении запроса:', error);
            });
    }
</script>
</body>
</html>
